$primary-text-color: black;
$secondary-text-color: rgb(111, 111, 111);

:root {
  --unit-100vh: 100vh;
}
@supports (height: 100dvh) {
  :root {
      --unit-100vh: 100dvh;
  }
}

body {
  margin: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  color: $primary-text-color;
}

.container {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  overflow-x: scroll;
}

.about {
  background-color: palegreen;
}

.works {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;

  // .work:nth-child(odd) {
  //   transform: translateX(10px); /* Shift odd cards slightly */
  // }
  
  // .work:nth-child(even) {
  //   transform: translateX(-10px); /* Shift even cards slightly */
  // }
}

h2 {
  font-family: 'Instrument Serif', serif;
  font-weight: normal;
  font-size: 2em;
}
$secondary-text-size: 0.75em;
.work {
  padding: 1em;
    width: 75vw;
    max-width: 500px;
    display: flex;
  .work-title {
    border-top: black 2px solid;
    min-width: 70%;
    margin-left: 0.75em;
    h2 {
      margin: 0px;
      line-height: 1em;
      margin-top: 0.5em;
    }
  }
  .work-types {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    color: $secondary-text-color;
    font-size: $secondary-text-size;
    div {
      margin-right: 0.5em;
      font-size: 1em;
    }
  }
  .work-date {
    color: $secondary-text-color;
    font-size: $secondary-text-size;
  }
  .work-hero-image {
    width:30%;
    max-width: 100px;
    padding-right: 0.5em;
    img {
      width: 100%;
    }
  }
}


@font-face {
  font-family: 'CirrusCumulus';
  src: local('CirrusCumulus'), url(./fonts/CirrusCumulus.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.work-detail {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: inline-block;
  overflow-y: scroll;
  position:absolute;
  // background-color: rgba(255, 255, 0);
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

  box-sizing: content-box;
  padding:0;

  .work-title {
    margin-left:0;
    max-width: 300em;
  }

  p {
    font-size: 0.75rem;
  }

  .work-detail-contents {
    padding: 1em;
  }
  .work-representations {
    // max-width: 75vw;
    // max-height: 75vh;
    min-height: 50vw;
    margin-top: 2em;
    div {
      margin-bottom:0.5em;
    }
    img {
      width: 100%;
    }
    .work-representation-text {
      border: black 1pix solid;
      border: black 1px solid;
      padding: 0.5em;
      p:first-child {
        margin-top: 0px;
      }
      p:last-child {
        margin-bottom: 0px;
    }
      }
      .work-representation-embed:has(p) {
        height:500px;
      }
      .work-representation-embed {
        scroll-snap-align: center;
        // width: 90%;
        // min-height: 50vh;
        max-height: 75vh;
        // max-height: 75vh;
        // border-radius: 4px;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 0;
    
        p {
          margin: auto;
          height: 100%;
          width: 100%;
          
          iframe {
           height: 100%;
           width: 100%;
          }
        }
    
        div div {
          -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
          -moz-box-sizing: border-box; /* Firefox, other Gecko */
          box-sizing: border-box;
          top: 50%;
        transform: translateY(-50%);
        }
    
        .player {
          overflow: hidden !important;
        border-radius: 4px !important;
    
        }
    
    
      //   margin-top: auto;
      //   margin-bottom: auto;
        // height:100%;
      //   height: 75vh;
      // iframe {
      //   width: 100%;
      //   height: 100%;
      // }
        // p {
        //   height: 100%;
        //   /* max-width: 90%; */
        //   margin: 0px;
        //   padding: 0px;
      
        //   iframe {
        //     width: 100%;
        //     height: 100%;
        //   }
        // }
      }
    
      .work-embed:only-child {
        margin: auto;
        width: 100% !important;
        margin-left: 0px;
        div {
          position:inherit !important;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box;
            top: 0;
          transform: none;
          
        }
      }
      // div:only-child {
      //     max-width: 100%;
      //     width: 100%;
      //     margin:0px;
    
      //     p {
      //         height: 100%;
      //         /* max-width: 90%; */
      //         margin: 0px;
      //         padding: 0px;
    
      //         iframe {
      //             width: 100%;
      //             height: 600px;
      //         }
      //     }
      //     img {
      //         max-height: 90vh;
      //         margin:auto;
      //     }
      //   }
      // // .work-embed:only-child {
      //         position: relative;
      //         padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
      //         height: 0;
      //         width: 100%;
      //         margin:0px;
    
      //       iframe {
      //         position: absolute;
      //         top: 0;
      //         left: 0;
      //         width: 100%;
      //         height: 100%;
      //       }
      // }
    
    }
}
